@media (max-width: 1299px) {

  .hero_area .hero_bg_box img {
    -o-object-position: top right;
    object-position: top right;
  }


}

@media (max-width: 1120px) {}

@media (max-width: 992px) {
  .hero_area {
    min-height: auto;
  }

  .slider_section .detail-box {
    margin-bottom: 45px;
  }

  .custom_nav-container .navbar-nav {
    padding-top: 15px;
    align-items: center;
  }

  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 25px;
    margin: 5px 0;
  }

  .why_us_section .box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .why_us_section .box .img-box {
    margin-right: 0;
    margin-bottom: 10px;
    height: 65px;
  }

  .why_us_section .box .num-box {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .slider_section {
    padding: 45px 0 100px 0;
    text-align: center;
  }

  .slider_section .detail-box .btn-box {
    justify-content: center;
  }

  .contact_section .form_container {
    margin-bottom: 45px;
  }

  .info_section .contact_link_box {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .client_section .box {
    flex-direction: column;
  }

  .client_section .box .detail-box {
    background-color: #ffffff;
    padding: 75px 20px 20px 25px;
  }

  .client_section .box .img-box {
    margin: 0 0 -50px 20px;
  }
}

@media (max-width: 480px) {
  .slider_section .detail-box h1 {
    font-size: 2rem;
  }

}

@media (max-width: 420px) {
  .info_section .info_form form {
    flex-direction: column;
  }

  .info_section .info_form form button {
    transform: none;
    margin-top: 10px;
  }
}

@media (max-width: 376px) {}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}